<nav class="clover-sg__nav">
  <h1>Clover Component Library</h1>
  <ul>
    <li><a href="/">Components</a></li>
    <li><a href="/prototypes">Prototypes</a></li>
    <li><a href="/static-comps">Static Comps</a></li>
  </ul>
</nav>
